* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
}

nav {
    position: fixed;
    /* background-color: rgb(0, 255, 68); */
    display: flex;
    align-items: flex-start;
    height: 12vh;
    width: 100%;
    padding: 2vw 10.4vw;
    justify-content: space-between;
    background-color: #111;
    z-index: 10;
}

nav h1 {
    font-size: 1.6vw;
}

.nav-part2 {
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
}

.nav-part2 h4 {
    font-size: 0.73vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2.6vw;
}

.nav-part2 h5 {
    margin-bottom: 1vw;
    /* background-color: red; */
    display: none;
    overflow: hidden;
}

.nav-part2 h5 span {
    font-size: 0.77vw;
    font-weight: 400;
    transform: translateY(25px);
    display: inline-block;
}

nav button {
    background-color: #0BA34E;
    display: flex;
    align-items: center;
    padding: 14px 20px;
    font-size: 0.85vw;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 20px;
    border: none;
}

nav button svg {
    height: 0.8vw;
    margin-left: 1.6vw;
}

#nav-bottom {
    width: 79%;
    height: 0vh;
    position: absolute;
    background-color: red;
    top: 100%;
    background-color: #111;
    z-index: 9;
    border-bottom: 1px solid #fff;
    margin-top: 1vw;
}



#page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page1 h1 {
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8.5vw;
}

#page1 h1 svg {
    height: 6vw;
    border-radius: 50%;
    width: 6vw;

    background-color: #0BA34E;
}

#page1 p {
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
    font-size: 1vw;
}

#capsule {
    display: flex;
    justify-content: center;
    align-items: center;
}

#capsule h4 {
    font-weight: 400;
    font-size: 1vw;
    padding: 5px 12px;
    border: 1px solid #fff;
    border-radius: 50px;
    margin: 2px 1px;
}

#capsule h4:nth-child(3) {
    border: none;
    font-size: 18px;
    padding: 0;
}

#moving-div {
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    white-space: nowrap;
    overflow: hidden;
    padding: 1.2vw;
    width: 50%;
}

#moving-div .move {
    display: inline-block;
    animation-name: mobe;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-div .move img {
    height: 1.4vw;
    margin: 0 1vw;
}

@keyframes mobe {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

#blur-left {
    height: 100%;
    width: 20%;
    background: linear-gradient(to left, transparent, #111);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#blur-right {
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, transparent, #111);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

#page2nd {
    height: 100%;
    width: 100%;
    background-color: #111;
    position: relative;
    padding: 0 10.5vw;
    padding-bottom: 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #333;
}

.page2nd-left {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 3vw 0;
}

.page2nd-left p {
    font-size: 1.2vw;
}

.page2nd-left h5 {
    width: 75%;
    font-weight: 400;
    font-size: 1.1vw;
}

.page2nd-right {
    height: 100%;
    width: 50%;
}

.right-elem {
    position: relative;
    /* background-color: orange; */
    padding-top: 3vw;
    padding-bottom: 5vw;
    border-bottom: 1px solid #333;
}

.right-elem h2 {
    font-size: 1.4vw;
    font-weight: 400;
}

.right-elem img {
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    scale: 0;
}


#page3 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


.page3-center {
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 1vw;
    flex-direction: column;
}

.page3-center .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.3vw;
    border-radius: 50%;
    background-color: #fff;
}

.page3-center .icon i {
    color: #000;
    font-size: 2.8vw;

}

.page3-center h5 {
    font-size: 1.5vw;
    background-color: #fff;
    color: #000;
    border-radius: 17px;
    padding: 12px 26px 10px 26px;
    margin-top: 0.5vw;
    font-weight: 700;
    opacity: 0;
    transition: all ease 0.5s;
    transform: translateY(16%);
    text-transform: uppercase;
}

.page3-center:hover h5 {
    opacity: 1;
    transform: translateY(0%);
}

#page3 video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scaleX(0.7) scaleY(0);
    border-radius: 30px;
    opacity: 0;
    z-index: 9999;
}

#page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    position: relative;
    padding-bottom: 13vh;
}

.section {
    width: 100%;
    height: 72vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13vh 10vw;
    padding-bottom: 0;
}

.sec-left {
    height: 100%;
    width: 25%;
    padding-top: 3vh;
    /* background-color: aqua; */
    border-top: 2px solid #000;

}

.sec-left h2 {
    font-size: 2.1vw;
    font-weight: 500;
    color: #000;
}

.sec-left p {
    color: #000;
    margin-top: 10vh;
    font-size: 1.2vw;
    /* width: 80%; */
}

.sec-right {
    height: 100%;
    width: 70%;
    /* background-color: blanchedalmond; */
    position: relative;
}

.sec-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sec-right video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: opacity ease 0.3s;
}

#page5 {
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    padding: 8vh 10.5vw;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#page5>button {
    background-color: #0BA34E;
    padding: 1vw 2vw;
    font-size: 2vw;
    border: none;
    border-radius: 50px;
    font-weight: 700;
    position: sticky;
    top: 17%;
}

#page5-right {
    width: 70%;
}

#page5-right>p {
    font-size: 1.4vw;
    /* margin-right: 11.5vw; */
    padding-left: 5vw;
    padding-right: 10vw;
}

#page5-right>p>span {
    background-color: red;
    /* width: 10vw; */
    display: inline-block;
}

#page5-content {
    width: 100%;
    /* background-color: red; */
    padding: 5vh 0;
    margin-top: 4vw;
}

#page5-content h1 {
    font-size: 3vw;

}

#page5-content #flex {
    display: flex;
    margin-top: 5vh;
    gap: 5px;
    margin-bottom: 4vh;
}

#page5-content #flex h4 {
    font-size: 1vw;
    border: 1px solid #fff;
    padding: 12px 20px;
    border-radius: 50px;
}

.page5-elem {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: red; */
    padding-top: 4vh;
    padding-bottom: 9vh;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #333;
}

.page5-elem p {
    width: 60%;
    display: flex;
    margin-left: 8vw;
    font-size: 1vw;
    font-size: 1vw;
    position: relative;
    z-index: 8;
}

.page5-elem h3 {
    font-size: 1.6vw;
    font-weight: 400;
    position: relative;
    z-index: 8;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;

}

.page5-elem i {
    font-size: 1.2vw;
    font-weight: 500;
    position: relative;
    z-index: 8;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;

}

.over {
    height: 100%;
    width: 100%;
    background-color: #222;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    opacity: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.page5-elem:hover h3 {
    padding-left: 1vw;
}

.page5-elem:hover i {
    padding-right: 1vw;
}

.page5-elem:hover .over {
    transform: translateY(0);
    opacity: 1;
}

.page5-elem:hover {
    border-top: 2px solid #fff;
}

summary::marker {
    content: "";
}

.uiux {
    border-top: 1px solid #333;
    padding: 3vh 0;
}

.product {
    border-top: 1px solid #333;
    padding: 3vh 0;
}

#page6 {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    padding: 10vh 12.5vw;
}

#page6>h1 {
    font-size: 5.5vw;
    color: #000;
    padding-left: 20vw;
    padding-right: 5vw;
    line-height: 5vw;
    padding-bottom: 15vh;
    border-bottom: 1px solid black;
}

#page6-content {
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vh 0;
}

#page6-content #right-6 {
    width: 70%;
}

#page6-content #right-6 p {
    font-size: 1.5vw;
    color: #000;
    margin-bottom: 5vh;
    width: 80%;
}

#blue-btn {
    background-color: #4f5bff;
    width: 14vw;
    height: 3.5vw;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#blue-btn h4 {
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8vw;
}

#blue-btn i {
    padding-left: 0.7vw;
    font-size: 1vw;
    font-weight: 100;
}

#page6-bottom {
    height: 44vh;
    width: 100%;
    border-top: 1px solid #dadadd;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#btm6-part1 {
    border-right: 1px solid #dadada;
    width: 30%;
    height: 100%;
}

#btm6-part2 {
    border-right: 1px solid #dadada;
    width: 28%;
    height: 100%;
}

#btm6-part3 {
    border-right: 1px solid #dadada;
    width: 15%;
    height: 100%;
}

#btm6-part4 {
    border-right: 1px solid #dadada;
    width: 15%;
    height: 100%;
}

#btm6-part5 {
    width: 15%;
    height: 100%;
}

.btm6-parts {
    padding: 3vh 0.6vw;
}

.btm6-parts h5 {
    color: black;
    font-weight: 500;
    font-size: 1.4vw;
    margin-bottom: 4vh;
}

.btm6-parts h4 {
    background-color: #000;
    width: 80%;
    font-size: 0.9vw;
    font-weight: 500;
    padding: 5px 10px;
    margin-bottom: 0.3vh;
    border-radius: 50px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.btm6-parts h4 span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5vw;
    height: 1.5vw;
    background-color: red;
    padding: 0.5vw;
    border-radius: 50%;
    margin-right: 1vw;
}
#btm6-part2 h4:nth-child(2){
    transform: translateX(0);
}
#btm6-part2 h4:nth-child(3){
    transform: translateX(10%);
}
#btm6-part2 h4:nth-child(4){
    transform: translateX(20%);
}
#btm6-part2 h4:nth-child(5){
    transform: translateX(30%);
}
#btm6-part2 h4:nth-child(6){
    transform: translateX(40%);
}
#btm6-part2 h4:nth-child(7){
    transform: translateX(50%);
}


#btm6-part3 h4:nth-child(2){
    transform: translateX(0);
}
#btm6-part3 h4:nth-child(3){
    transform: translateX(20%);
}

#btm6-part4 h4:nth-child(2){
    transform: translateX(0);
}
#btm6-part4 h4:nth-child(3){
    transform: translateX(18%);
}
#btm6-part4 h4:nth-child(4){
    transform: translateX(35%);
}

#page7 {
    height: 100vh;
    background-color: #111;
}